@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#side-nav {
  position: sticky !important;
}

#side-nav.active {
  display: block !important;
  position: absolute !important;
}

.nav-link {
  display: flex !important;
  justify-content: flex-start;
}

.nav-link p {
  display: inline;
  padding-left: 0.5rem;
  margin: 0;
}

.side-nav-link {
  margin-bottom: 0.2rem;
}

.side-nav-link:hover {
  background-color: #e8e8e8 !important;
}

.side-nav-link.active {
  background-color: #e8e8e8 !important;
}

.side-nav-dropdown {
  display: none !important;
}

.side-nav-dropdown.active {
  display: flex !important;
  animation-duration: 1s;
  transition: 0.3s ease-in-out;
}

.app-content {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: lte-app-main;
  max-width: 100vw;
  padding-bottom: 0.75rem;
  transition: 0.3s ease-in-out;
}